{% extends "base.html" %}
{%  block content %}
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Let's get to know BEST CAKES better, shall we?</h1>
							<span class="image main"><img src="../static/images/tort_horizontal.JPG" alt=""></span>
							<p>Baking is a deeply personal experience that aids more than just your taste buds. The shift from almost-daily chore to hobby has enabled women to take back the baking as a form of empowerment, using the process to develop a firmer idea of themselves and their place in the world.</p>
                            <p>Baking is also hugely advantageous for improving mental health, with benefits that include increased mindfulness, satisfaction and sensory pleasure. By using baking as a form of behavioural activation, bakers that struggle with depression or other mood disorders can escape into a focused activity, occupying the whole mind/body spectrum. This redirection of thoughts is a subconscious form of therapy.</p>
                            <p>Julia Ponsonby, author of ‘The Art of Mindful Baking’ says, "For example when you’re baking sourdough, you’re letting things develop at their own pace and you’re observing them. I think not trying to control everything and accepting that things will happen when they’re ready is a useful tool to have in life,” she says. “We’re always afraid of missing out on opportunities, but when we slow down, we often become more successful in life because we gain a heightened sense of awareness."</p>
							<p>Nigella Lawson, another recognised professional, in her baking cookbook ‘How To Be A Domestic Goddess’ writes how taking back the hobby is a step in the right direction for feminism. “There’s something intrinsically misogynistic about decrying a tradition because it has always been female,” Nigella writes.</p>
						</div>
					</div>

 {% endblock %}
