{% extends "base.html" %}
{%  block content %}

            <!-- Main -->

                <div id="main">
                    <div class="inner">
                        <header>
                            <h1>There is no way you will not find ANYTHING for you here...</h1>
                        </header>
                    </div>
                    <div class="inner">

                        <section class="tiles">
                            <article class="style1">
                                <span class="image">
                                    <img src="../static/images/tort.jpg" alt="">
                                </span>
                                <a href="tort.html">
                                    <h2>WOW-effect</h2>
                                    <div class="content">
                                        <p>Light as a cloud, butterscotch-creamy, with a twist of season fruits, delicious and dazzling.</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style1">
                                <span class="image">
                                    <img src="../static/images/caramel.JPG" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Caramel</h2>
                                    <div class="content">
                                        <p>Sweet and salty - perfect combination...</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style1">
                                <span class="image">
                                    <img src="../static/images/pascha_2018.JPG" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Pascha</h2>
                                    <div class="content">
                                        <p>Easter-type traditional "pascha" cake.</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style1">
                                <span class="image">
                                    <img src="../static/images/cheesecake.JPG" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Cheesecake</h2>
                                    <div class="content">
                                        <p>Creamy, mouth-watering experience.</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style1">
                                <span class="image">
                                    <img src="../static/images/tort_square.JPG" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Rectangle</h2>
                                    <div class="content">
                                        <p>A hell of a cake - impressive in size and matter.</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style1">
                                <span class="image">
                                    <img src="../static/images/bundt.JPG" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Bundt</h2>
                                    <div class="content">
                                        <p>A perfect everyday five-o-clock treat.</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style1">
                                <span class="image">
                                    <img src="../static/images/tarta.JPG" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Tart</h2>
                                    <div class="content">
                                        <p>Sweet and crispy Swiss meringue on top with suprising wildberry filling.</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style1">
                                <span class="image">
                                    <img src="../static/images/sernik_lustro.JPG" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Glaze</h2>
                                    <div class="content">
                                        <p> Birthday cheesecake: chocolate glaze on top of 100 percent creaminess.</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style1">
                                <span class="image">
                                    <img src="../static/images/number.JPG" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Number</h2>
                                    <div class="content">
                                        <p>Of course we've got that covered - how could we not...</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style1">
                                <span class="image">
                                    <img src="../static/images/naked.JPG" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Naked</h2>
                                    <div class="content">
                                        <p>Minimalist form plus heavenly taste experience.  Simply chique!</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style1">
                                <span class="image">
                                    <img src="../static/images/keto.JPG" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Vegan</h2>
                                    <div class="content">
                                        <p>No lactose, no gluten, no sugar - and yet soooo delicius!</p>
                                    </div>
                                </a>
                            </article>
                            <article class="style1">
                                <span class="image">
                                    <img src="../static/images/brownie.JPG" alt="">
                                </span>
                                <a href="generic.html">
                                    <h2>Brownie</h2>
                                    <div class="content">
                                        <p>Traditional and tasty - you simply can't get enough of it..</p>
                                    </div>
                                </a>
                            </article>
                        </section>
                    </div>
                </div>

 {% endblock %}